.wraper-top-footer {
  padding-top: 60px;
  .title-about {
    padding-bottom: 50px;
    font-weight: bold;
  }
  .img-scale {
    &:hover {
      @include transition(all 1.2s linear);
      opacity: 0.4;
      transform: scale(1.1);
    }
  }
  .desc-text {
    padding-bottom: 20px;
  }
  .socials {
    @extend %no-mr-pd;
    .social-item {
      display: inline-block;
      padding-right: 16px;
      .social-item-a {
        color: map-get($color, black);
        &:hover {
          @include transition(all .4s linear);
          color: map-get($color, orange);
        }
      }
    }
  }
  .map {
    margin-bottom: 20px;
    .fam {
      padding-right: 8px;
    }
    .phone-number {
      color: map-get($color, black);
    }
    .map-fas {
      display: inline-block;
      width: 240px;
      vertical-align: top;
    }
  }
  .menu-fashion {
    @extend %no-mr-pd;
    .menu-fashion-item {
      border-bottom: 1px solid map-get($color, gray);
      margin-bottom: 16px;
      .menu-fashion-item-a {
        color: map-get($color, green);
        text-decoration: none;
        padding-bottom: 10px;
        font-weight: bold;
        &:hover {
          @include transition(all .4s linear);
          padding-left: 10px;
        }
        &:before {
          content: "\f054";
          margin-right: 15px;
        }
      }
    }
  }
}
.wapper-bottom-footer {
  padding: 60px 0 30px;
  .form-our {
    width: 360px;
    border-bottom: 1px solid map-get($color, gray);
    position: relative;
  }
  .input-form {
    @extend %ol-bd;
    width: 100%;
    font-style: italic;
    padding: 15px 70px 15px 5px;
    background: transparent;
  }
  .submit {
    @extend %ol-bd;
    position: absolute;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    top: 15px;
    right: 0;
  }
  .themespond {
    color: map-get($color, green);
    text-decoration: none;
  }
}
