.slide {
  position: relative;
  .wraper-slide {
    position: absolute;
    left: 100px;
    top: 40px;
    .tiltle-jacket {
      color: map-get($color, white);
    }
    .desc-slide {
      padding-bottom: 30px;
      color: map-get($color, white);
    }
    .tilte-design {
      color: map-get($color, green);
      .date {
        color: map-get($color, white);
      }
    }
  }
}
// welcome-myshop//
.welcome-myshop {
  .title-pashion {
    color: map-get($color, gray-2);
  }
  .desc-welcome {
    padding-bottom: 60px;
    color: map-get($color, gray-2);
  }
  .banner-gril {
    position: relative;
    display: block;
    &:before {
      @include transition(all .4s linear);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      width: 100%;
      height: 98%;
    }
    .baner-item-content {
      @include transition(all .4s linear);
      position: absolute;
      width: 100%;
      top: 25%;
      opacity: 0;
      .leather {
        @include transition(all .4s linear);
        position: relative;
        top: -12px;
        margin: 0;
        color: map-get($color, white);
        text-decoration: none;
      }
      .sale-off {
        color: map-get($color, white);
        border-top: 5px solid map-get($color, white);
        border-bottom: 5px solid map-get($color, white);
        line-height: 48px;
        padding: 20px 0;
        margin: 15px 0;
        font-weight: bold;
        width: 200px;
        margin: 0 auto;
      }
      .shop-now {
        text-decoration: none;
        position: relative;
        top: 16px;
        color: map-get($color, white);
        &:hover {
          @include transition(all .4s linear);
          color: map-get($color, green);
        }
      }
    }
    &:hover {
      &:before {
        opacity: 1;
        display: block;
      }
      .baner-item-content {
        display: block;
        opacity: 1;
      }
    }
  }
}
//featured-products//
.featured-products {
  padding-bottom: 60px;
  .featured {
    padding-bottom: 60px;
  }
  .hover-main {
    position: relative;
    &:before {
      @include transition(all .4s linear);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      width: 100%;
      height: 98%;
    }
    .hover-menu-hover {
      display: none;
      position: absolute;
      top: 25%;
      left: 25%;
      .hover-menu {
        @extend %no-mr-pd;
        padding-bottom: 30px;
        .hover-menu-item {
          @include border-radius(100%);
          background: map-get($color, green);
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 14px;
          &:hover {
            color: map-get($color, green);
            background: map-get($color, white);
          }
          .hover-menu-item-a {
            text-align: center;
            color: map-get($color, white);
            line-height: 30px;
            &:hover {
              color: map-get($color, green);
            }
          }
        }
      }
    }
    &:hover {
      .hover-menu-hover {
        display: block;
      }
    }
  }
}
// new-design//
.new-design {
  background: url(../img/banner/1.jpg) no-repeat;
  height: 380px;
  padding-top: 136px;
  .title-news-design, .title-sition, .desc-design {
    color: map-get($color, white);
    &.sition {
      padding-bottom: 20px;
    }
    &.desc-desi {
      padding: 0 20px 40px;
    }
  }
}
.awesome-product {
  padding-bottom: 60px;
  .awesome {
    padding-bottom: 60px;
  }
  .menu-awesome {
    @extend %no-mr-pd;
    padding-bottom: 40px;
    .menu-awesome-item {
      display: inline-block;
      padding-right: 80px;
      .menu-awesome-a {
        text-decoration: none;
        color: map-get($color, black);
        font-weight: bold;
        &:hover {
          color: map-get($color, green);
        }
      }
    }
  }
}
// new-blog//
.news-blog {
  padding-bottom: 60px;
  border-bottom: 1px solid map-get($color, gray);
  .title-zoey {
    color: map-get($color, black);
    font-weight: bold;
  }
  .fao {
    &:before {
      content: "\f0e6";
      padding-left: 10px;
    }
  }
  .fac {
    &:before {
      content: "\f073";
      padding-right: 10px;
    }
  }
  .fal {
    &:before {
      content: "\f08e";
      padding-right: 10px;
    }
  }
  .read-more {
    color: map-get($color, green);
  }
}
